.header {
    overflow: hidden;
    margin: 0 auto;

    &__logo-img {
        float: left;
        display: block;
        width: 40px;
        margin: 32px 0;        

        img {
            width: 100%;
        }
    }
    &__logo-text {
        float: left;
        display: block;
        margin:32px 0 32px 30px;
        width: 150px;


        img {
            width: 100%;
        }
    }

    &__info {
        float: right;
        a {
            font-size: 13px;
            display: block;
            float: left;
        }
        ul {
            list-style: none;
        }

        li {
            float: left;
            margin-right: 42px;
            display: block;

            &:last-of-type {
                margin-right: 0;
            }
            &:last-child {
                margin-left: 0;
            }
            img {
                float: left;
                margin-top: 23px;
            }
          span {
                font-size: 13px;
                display: block;
                float: left;
                margin: 22px 0 0 15px;
            }
        }
    }

    &__nav {
        float: right;
        overflow: hidden;
        margin-top: 22px;

        a {
            color: $color-222222;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
                      
        }
        ul {
            list-style: none;
            &:last-child {
                margin-left: 0;
            }
        }

        li {
            float: left;
            margin-left:68px;   
            letter-spacing: 10%;
            
            &:last-of-type {
                margin-right: 0;
            }
        
        }
    }
}

.header {
    @media (max-width: $large) {
        
        &__logo-text {
            margin-left: 20px;            
        }
        &__info {

            li {
                margin-right: 15px;
            }
        }
    
        &__nav {
            margin-top: 22px;
            
            li {
                margin-left:40px;            
            }
            }
        }

    @media (max-width: 870px) {
        &__wrapper {
            max-width: calc(740px - 30px);
        }

        &__logo {
            text-align: center;
            display: inherit;
        }
        
        &__logo-img {
            float: none;
            display: inline;
        }
        &__logo-text {
            float: none;
            display: inline;
        }

        &__info {
            float: none;
            margin: 0 auto;
            display: table;
        }
        &__nav {
            float: none;
            margin: 22px auto;
            width: max-content;

            li {
                &:first-child {
                    margin-left: 0;
                }
            }
        }

    }

    @media (max-width: 650px) {
        &__info {
            float: none;
            margin: 0 auto;
            
            li {
                float: none;
                margin: 0 auto;
                text-align: center;
                font-size: 16px;
            }
        }
        &__nav {

            li {
                float: none;
                margin: 20px auto;
                text-align: center;
            }
        }
    }
}
