.header {   
    flex: 0 0 auto;    
    background-attachment: fixed;
    background-color: $color-fon;

    .wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__logotype {
        display: flex;
        width: 220px;
        height: 43px;
        column-gap: 30px;

            img {
                width: 100%;
            }
        }

    &__info {
        display: flex;
        flex-direction: column;

        .info {
            display: flex;
            justify-content: end;

            ul {
                display: flex;
                column-gap: 40px;

                img, a, span {
                    display: inline-flex;
                }
                li {
                    align-content: center;
                }
            }
        }

        .nav {
            display: flex;
            justify-content: end;

            ul {
                display: flex;
                column-gap: 68px;
            }
        }
    }
    
}